/* some style */

#code {
		position: absolute;
		width: 49%;
		height: 99%;
		overflow-x: hidden;
		overflow-y: auto;
}

#drawing {
		overflow: hidden;
		position: absolute;
		width: 50%;
		height: 99%;
		left: 50%;
}
