/* some style */

#left {
		position: absolute;
		width: 49%;
		height: 99%;
		overflow: hidden;
}

#editor {
		width: auto;
		height: auto;
		overflow-y: scroll;
		overflow-x: hidden;
}

#editor .content {
		height: inherit;
		overflow: hidden;
}	

#drawing {
		overflow: hidden;
		position: absolute;
		width: 50%;
		height: 99%;
		left: 50%;
}
